@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-purple: #8f71fd;
  --main-white: #fff;
}

html {
  background-color: var(--main-white);
}

*::before,
*::after,
* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #fffffe;
}
